{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% extends '@ItopCore/base.html.twig' %}

{% block login_content_outer %}
<div id="login-content-container">
	{{ parent() }}
</div>
{% endblock login_content_outer %}
